<!-- <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home Component</a> -->
<div class="Search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text"  placeholder="Search City" name="city" [(ngModel)]="city">
  </form>
</div>
<div class="container1">
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="myweather.main.temp_min >20">
    <img src="../assets/cold.jpg" *ngIf="myweather.main.temp <= 20">
    <div class="weather-data">
      <div class="location">
        {{ this.myweather.name }}
      </div>
        <div class="temperature">
          {{ temperature }}°C
        </div>
      
    </div>

  </div>
  <div class="lower-data">
    <div class="more-info-lable">
      More Information
    </div>
    <div class="more-info-container1">
      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/min.png">
          <span>min </span>
          <div class="info-block-value">
            {{ mintemp }}°C
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/max.png">
          <span>max</span>
          <div class="info-block-value">
            {{ maxtemp }}°C
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/humidity.png">
          <span>humidity</span>
          <div class="info-block-value">
            {{ humidity }}°C
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/wind.png">
          <span>wind</span>
          <div class="info-block-value">
            {{ wind }}km/h
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet>

</router-outlet>
<!-- <div class="desktop">
  <img src="../assets/bg.jpg">
</div> -->