<!-- <div class="Whole">
  <div class="temp">
    <h1>temperature</h1>
  </div>
  <div class="details">
    <h1>humidity</h1>
  </div>
  <div class="footer">
    <h1>day</h1>
  </div>
</div>
 -->
 <!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid">

  <div class="maintxt">

    <img src="../assets/bg2.jpg" >

    <div class="overlay-text">
      
        <div class="">
          temperature
        </div>
        <div class="">
          humidity
        
      </div>
    </div> -->


    <!-- <div class="maintxt">
      <img src="../assets/cold.jpg" class="img-responsive">
      <span class="overlay-text">My super text.</span>
    </div> -->
  <!-- </div>
</div> -->
<!-- <div class="home">
  <img src="../assets/bg.jpg" alt="">
</div> -->
<div class="cont">
  
</div>